
* text=auto eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.meta text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.unitypackage binary
*.zip binary
*.tgz binary
